.InvoiceList {
  color: wheat;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  width: 95%;
  max-width: 1050px;
  margin: auto;
  padding: 0.9em 25px;
  cursor: pointer;
  background: var(--input-background);
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px var(--input-shadow);
  transition-duration: 0.3s;
  margin-top: 1em;
  /* Experimental */
  text-align: center;
}
.InvoiceList:hover {
  box-shadow: 13px 18px 18px var(--input-shadow);
}

.InvoiceList:hover .InvoiceList__next path {
  stroke: var(--red);
}
.InvoiceList__id {
  color: var(--text-color);
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 2;
}
.InvoiceList__id::before {
  content: "#";
  color: var(--blue-light);
}
.InvoiceList__date {
  color: var(--subHeading-color);
  grid-column-start: 2;
  grid-column-end: 4;
}
.InvoiceList__name {
  color: var(--subHeading-color);
  grid-column-start: 4;
  grid-column-end: 6;
}
.InvoiceList__price {
  grid-column-start: 6;
  grid-column-end: 9;
  font-size: 1.4rem;
  font-weight: bolder;
  color: var(--text-color);
}

.InvoiceList__status {
  grid-column-start: 9;
  grid-column-end: 11;
  padding: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  font-weight: 600;
}
.InvoiceList__status svg {
  transform: scale(3);
  margin-right: 5px;
}

.InvoiceList__status--paid {
  background: #33d69f21;
  color: var(--success-color);
}
.InvoiceList__status--pending {
  background: #ff979729;
  color: #ff7500;
}
.InvoiceList__status--draft {
  background: #0c0e1666;
}
.InvoiceList__next {
  grid-column-start: 11;
  grid-column-end: 12;
  color: var(--blue-light);
}

@media screen and (max-width: 900px) {
  .InvoiceList p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .InvoiceList {
    text-align: left;
  }
  .InvoiceList__date {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .InvoiceList__name {
    grid-column-start: 6;
    grid-column-end: 11;
  }
  .InvoiceList__price {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: left;

    padding-top: 7px;
  }
  .InvoiceList__status {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 3;
  }
  .InvoiceList__next {
    display: none;
  }
}
