.InvoiceForm {
  min-height: 100vh;
  width: calc(100vw - 72px);

  position: absolute;
  top: 0;
  left: 0;
}
.InvoiceForm__heading {
  margin: 1em 0;
}
.InvoiceForm__background {
  height: 100%;
  width: calc(100vw - 72px);
  position: absolute;
  background: rgb(0 0 0 / 65%);
}
.InvoiceForm__inner {
  width: 50%;
  background: var(--primary-color);
  color: var(--text-color);
  max-width: 600px;
  height: 100vh;
  overflow: auto;
  padding-left: 2em;
  position: absolute;
}

.InvoiceForm__btns {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.InvoiceForm__btns button {
  margin-right: 10px;
  margin-left: 10px;
}

/* 

Experiment
*/

.InvoiceForm__inner::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.InvoiceForm__inner::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

.InvoiceForm__inner::-webkit-scrollbar-thumb {
  background: var(--input-background);
  border-radius: 10px;
}

/* 

Experiment
*/

@media screen and (max-width: 600px) {
  .InvoiceForm {
    width: 100%;
  }
  .InvoiceForm__background {
    width: 100%;
  }
  .InvoiceForm__inner {
    width: 100%;
    padding: 0.5em;
  }
}
