.Invoice__sub-heading {
  margin: 2em 0;
  font-size: 0.9rem;
  color: var(--blue);
}

.Invoice__form-field {
  margin-top: 0.7em;
}

.Invoice__form-group {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
