*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Spartan", sans-serif;
  /* Experimentation */
  overflow-x: hidden;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

:root {
  --blue: #7c5dfa;
  --blue-light: #9277ff;
  --blue-sky: #7e88c3;
  --blue-grey: #dfe3fa;
  --blue-blend: #888eb0;
  --dark: #1e2139;
  --dark-blue: #252945;
  --black: #0c0e16;
  --black-blue: #141625;
  --red: #ec5757;
  --red-light: #ff9797;
  --light: #f8f8fb;
  --white: #ffffff;
  --success-color: #33d69f;
  --success-color-dark: #33d69f4a;
}

.Main {
  --primary-color: var(--light);
  --secondary-color: var(--black);
  --caps-color: var(--blue-sky);
  --text-color: var(--dark-blue);
  --input-color: var(--dark);
  --input-background: #ffffff;
  --input-shadow: var(--blue-grey);
  --subHeading-color: #bebec0;
  --label-color: var(--blue-light);
  --footer-bg: var(--blue-grey);
  --footer-foot: var(--dark-blue);

  display: flex;
  position: relative;
}
.Main.dark {
  --primary-color: var(--black-blue);
  --secondary-color: var(--white);
  --caps-color: var(--blue-grey);
  --text-color: var(--caps-color);
  --input-color: #ffffff;
  --input-background: var(--dark-blue);
  --input-shadow: rgba(0, 0, 0, 0.5);
  --subHeading-color: var(--blue-grey);
  --label-color: var(--blue-grey);
  --footer-foot: var(--black);
  --footer-bg: var(--dark);
}
.max-width {
  max-width: 1000px;
  margin: auto;
}
.hide-me {
  display: none;
}
.show-me {
  display: block;
  animation: openKeyFrames 650ms cubic-bezier(0.13, 1.1, 0.86, 1.68);
}

@keyframes openKeyFrames {
  0% {
    transform: rotateX(270deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
.primary-section {
  width: calc(100vw - 72px);
  min-height: 100vh;
  background: var(--primary-color);
  margin-left: -10px;
  padding-left: 20px;
  position: absolute;
  top: 0;
  left: 82px;
}

.middle-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-link {
  font-size: 1.2rem;
  padding: 0.4em 0.6em;
  color: var(--success-color);
  background: var(--success-color-dark);
  margin: 0.5em;
  display: inline-block;
  font-weight: 600;
}

/* Button Styles */
.btn {
  border: 0;
  padding: 0.5em 0.8em;
  font-size: 1.1rem;
  font-weight: 700;
}

.btn__invoice {
  margin-right: 0.5em;
  border-radius: 1em;
}
.btn__invoice--edit {
  color: var(--blue);
  background: var(--blue-grey);
}
.btn__invoice--delete {
  background: var(--red);
  color: var(--light);
}
.btn__invoice--marked {
  background: var(--blue);
  color: var(--light);
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.btn--success {
  color: var(--success-color);
  background: var(--success-color-dark);
}

.btn--full {
  width: 100%;
}

.btn-addNew {
  padding: 0.7em 1em;
  border: none;
  color: white;
  background: var(--blue);
  margin-left: 1em;
  border-radius: 1.3em;
}
.btn-plain {
  background: transparent;
  display: flex;
  font-size: 0.9em;
  color: var(--blue);
}
.btn-plain span {
  margin-right: 0.4em;
  color: var(--text-color);
}
.btn--invoiceForm {
  margin: 1.8rem 0;
}
.btn--fullWidth {
  width: 95%;
}
/* Invoice Wrapper */
.invoice-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  color: var(--text-color);
}

.invoice-wrapper header {
  width: 70%;
  margin-bottom: 1em;
}
.invoice-wrapper header a {
  display: inline-block;
  margin-bottom: 1em;
  font-size: 0.9rem;
}
.invoice-wrapper header a:hover,
.invoice-wrapper header a:hover path {
  color: var(--red);
  stroke: var(--red);
}

.invoice-wrapper main {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  width: 70%;
  padding: 2em;
  background: var(--input-background);
  margin-top: 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 10px var(--input-shadow);
}

.invoice-wrapper address {
  font-size: 0.8rem;
  font-style: normal;
}
.invoice-wrapper address li {
  padding: 0.3em 0;
}

/* status */
.status {
  padding: 1em 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-left: 1em;
}

.status svg {
  transform: scale(3);
  margin-right: 5px;
}

.status--paid {
  background: #33d69f21;
  color: var(--success-color);
}
.status--pending {
  background: #ff979729;
  color: #ff7500;
}
.status--draft {
  background: #0c0e1666;
}
/* BillFrom Style */
.BillFrom__input {
  font-size: 0.9rem !important;
  letter-spacing: 0.5px;
  padding: 0.8em !important;

  border: 1px solid var(--input-shadow) !important;
}
.BillFrom__input--fullWidth {
  width: 95%;
}

@media screen and (max-width: 600px) {
  .Main {
    display: block;
  }
  .primary-section {
    width: 100%;
    min-height: 100vh;
    position: initial;
    margin-left: 0;
    padding-left: 0;
  }
  .invoice-wrapper header,
  .invoice-wrapper main {
    width: 90%;
  }
  .invoice-wrapper address {
    margin: 0.5em 0;
  }
}
